src/PDFdriveAnalysis
{
  "name": "Analisis Guias de Viaje",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1V85U9-p718zsjbmtWXiQg5ZZ5dLJCBbT",
          "mode": "list",
          "cachedResultName": "viajes",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1V85U9-p718zsjbmtWXiQg5ZZ5dLJCBbT"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        80
      ],
      "id": "a6aa4464-60fd-42e2-944c-79614abd95a4",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ouZSRFGwkRh0jqv1",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -512,
        32
      ],
      "id": "e3c6914d-7436-4522-8c85-f512b5c71b6f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gPRdEzGGBkBSjlD5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "viajes",
          "mode": "list",
          "cachedResultName": "viajes"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "9df8d6b2-0429-4877-91e0-f08118a772da",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "ITKT56LUrzoCgokz",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:v1.5"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -64,
        240
      ],
      "id": "c2a2d0c1-b188-481a-90e2-5c8ab7917aef",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "y1UFLLpBu1eKfp6F",
          "name": "Ollama account 3"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        144,
        192
      ],
      "id": "618c8729-fa46-4edc-8463-ff2a5e9178ab",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        272,
        384
      ],
      "id": "f1e21d95-9cc7-4f4c-a8a2-966fd28e7f0a",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -272,
        32
      ],
      "id": "1a8f7160-2936-4bc3-8525-95de0d2b39be",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5aa73b5f-550c-40b8-9e7d-71501565544d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2bc6d4addc67d0a1ef9fd8c38c7736a8abc39a39447038f494b588f2a44bc1a"
  },
  "id": "Vdi_fHhR4MGscWsmCURoL",
  "tags": []
}
