src/TravelAssistant.json
{
  "name": "Asistente De Viajes",
  "nodes": [
    {
      "parameters": {
        "model": "nomic-embed-text:v1.5"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -560,
        448
      ],
      "id": "c70a3a27-9e87-4234-8d98-8a7fdb6825b1",
      "name": "Embeddings Ollama  Nomic-embed-text 1.5",
      "credentials": {
        "ollamaApi": {
          "id": "y1UFLLpBu1eKfp6F",
          "name": "Ollama account 3"
        }
      },
      "notes": "Nomic"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -688,
        48
      ],
      "id": "498ec248-b487-424c-b424-387f5a7e54e0",
      "name": "Anthropic API",
      "credentials": {
        "anthropicApi": {
          "id": "B7ZeengnBJQteQfU",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -240,
        224
      ],
      "id": "a4007136-7e16-4661-a16c-42f30184bbff",
      "name": "Vector Store Tool",
      "credentials": {
        "anthropicApi": {
          "id": "B7ZeengnBJQteQfU",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "viajes",
          "mode": "list",
          "cachedResultName": "viajes"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -560,
        256
      ],
      "id": "263b4a7f-9822-4dc4-80ce-df3812994377",
      "name": "Pinecone Vector DB",
      "credentials": {
        "pineconeApi": {
          "id": "ITKT56LUrzoCgokz",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "description": "utiliza esta herramienta para obtener información sobre los viajes de la base de datos vectoria"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -416,
        64
      ],
      "id": "9d2f1679-7e9b-4908-a4a5-8e4a78ca9aad",
      "name": "Answer Module"
    },
    {
      "parameters": {
        "chatId": "={{ $('ChatID whiteListed?').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        384,
        -128
      ],
      "id": "94c7c247-e9cc-4bda-acaf-03f089b88bf5",
      "name": "Respond Back",
      "webhookId": "dfa4ea70-336e-4549-b58d-5743773afaa4",
      "credentials": {
        "telegramApi": {
          "id": "lXkA7ZLezD3lsUGa",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "93eae05e-b04e-4e03-9e38-2dc8253dc49e",
                    "leftValue": "={{ $('Telegram Set WebHook').item.json.message.text }}",
                    "rightValue": "#fenomeno",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e59aec40-7490-4267-b26a-99333e408a34",
                    "leftValue": "={{ Object.keys($json.message).includes('voice') === true }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1680,
        -176
      ],
      "id": "29a3725e-f265-4d41-b996-de7817c92ce4",
      "name": "Input Format"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1488,
        -48
      ],
      "id": "d3a81448-35ce-4128-9993-8d501e8f295f",
      "name": "Get Audio FileID",
      "webhookId": "f31c8d5c-b762-4f68-89f9-e9c47d2c401f",
      "notesInFlow": true,
      "credentials": {
        "telegramApi": {
          "id": "lXkA7ZLezD3lsUGa",
          "name": "Telegram account"
        }
      },
      "notes": "apiTelegram -> /getFile?file_id=<FILE_ID>"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "=audio"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1072,
        -48
      ],
      "id": "2973b47c-55aa-45c0-9a6e-a5c769c16aef",
      "name": "HTTP POST Grok Binary Transcription",
      "credentials": {
        "httpBearerAuth": {
          "id": "0TpXpD9PKArZPmct",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "396bdd68-fbcf-4e55-8d34-e012b8823489",
              "leftValue": "={{ $json.message.chat.id.toString() }}",
              "rightValue": "=-5280575085",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1952,
        -160
      ],
      "id": "dde2217f-7a5c-4855-9e89-4814083ae81e",
      "name": "ChatID whiteListed?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "43e9c105-5792-45eb-bae1-16e412440fbc",
              "leftValue": "={{ $json.body.text.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').replace(/[¡!¿?,.:]/g, '').trim()}}",
              "rightValue": "fenomeno",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -880,
        -48
      ],
      "id": "adcf147d-f547-405a-95c5-30e24704f82d",
      "name": "Meets Criteria"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "361a52b5-0a9a-4013-b36b-d9f5749539b8",
                    "leftValue": "={{ $('Telegram Set WebHook').item.json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bb1dac34-c10f-474c-9fd8-07fb0344d547",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        96,
        -32
      ],
      "id": "49c6d8f0-4bb7-4a81-b7cc-172fb3239f4c",
      "name": "OutPut Type"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2144,
        -160
      ],
      "id": "3f820c24-d913-4dee-9fa0-065e0096feb6",
      "name": "Telegram Set WebHook",
      "webhookId": "d8bfb4ac-e790-473a-98e2-6ca810787e0d",
      "notesInFlow": true,
      "credentials": {
        "telegramApi": {
          "id": "lXkA7ZLezD3lsUGa",
          "name": "Telegram account"
        }
      },
      "notes": "api.telegram -> setWebhook?url=<WEBHOOK_URL>"
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('ChatID whiteListed?').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        128
      ],
      "id": "f5165671-e976-4d0e-92cf-82468f7c862c",
      "name": "Send an audio file",
      "webhookId": "69dc5bf0-d545-445f-b02c-f5ddfa83e354",
      "credentials": {
        "telegramApi": {
          "id": "lXkA7ZLezD3lsUGa",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const binaryKey = Object.keys($input.item.binary)[0];\n$input.item.binary['audio'] = {\n  ...$input.item.binary[binaryKey],\n  fileName: 'audio.ogg',\n  fileExtension: 'ogg',\n  mimeType: 'audio/ogg'\n};\ndelete $input.item.binary[binaryKey];\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        -48
      ],
      "id": "dbc1f8b4-8039-4c2f-9d42-b0beeab205c0",
      "name": "Js script -  Rename Audio Binary"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search for images of places, monuments, cities or tourist attractions , Input should be the place or attraction name in English because UnPlash indexes images in english",
        "url": "https://api.unsplash.com/search/photos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=={{ $fromAI('query', 'The place or attraction to search for images, in English') }}"
            },
            {
              "name": "per_page",
              "value": "1"
            },
            {
              "name": "client_id",
              "value": "onJKYj_R9QnTibR5Ie9Cbc4ABd2Xyflm6ZORX5KaOiI"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -512,
        -384
      ],
      "id": "aa034b73-604e-4daa-ad2e-2ed4734cc8d4",
      "name": "Unplash Images"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.item.json.output;\nconst imageMatch = output.match(/\\[IMAGE_URL: (https?:\\/\\/[^\\]]+)\\]/);\n\nif (imageMatch) {\n  return {\n    json: {\n      hasImage: true,\n      imageUrl: imageMatch[1],\n      text: output.replace(/\\[IMAGE_URL: [^\\]]+\\]/, '').trim()\n    }\n  };\n}\n\nreturn {\n  json: {\n    hasImage: false,\n    imageUrl: null,\n    text: output\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -192
      ],
      "id": "5ea2bc54-0f38-4cdc-ace9-c18ed7e360f7",
      "name": "js script - check image url"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('ChatID whiteListed?').item.json.message.chat.id }}",
        "file": "={{ $json.imageUrl }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        144,
        -352
      ],
      "id": "8ba09165-6ab8-4adf-878d-6ea04d016736",
      "name": "Send a photo message",
      "webhookId": "724fd270-ab0d-49c9-9d65-bbf5187a869f",
      "credentials": {
        "telegramApi": {
          "id": "lXkA7ZLezD3lsUGa",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.result.chat.id }}",
        "text": "={{ $('Feedback Rules').item.json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        -352
      ],
      "id": "edbc1b8b-6d83-4f85-bade-ae9765a6beb2",
      "name": "Send a text message",
      "webhookId": "b441f2e0-d913-4cf8-8198-2dba931f3ae6",
      "credentials": {
        "telegramApi": {
          "id": "lXkA7ZLezD3lsUGa",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/eI75MoFj26Nq5Itn4pll",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $('Feedback Rules').item.json.text }}"
            },
            {
              "name": "model_id",
              "value": "eleven_multilingual_v2"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        304,
        128
      ],
      "id": "4a11c3a5-18ca-4cb3-9ec6-2737e022b071",
      "name": "Eleven Labels Text 2 Speech API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "j4tDkQLxliDfjLH5",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('ChatID whiteListed?').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        -560,
        48
      ],
      "id": "4a779468-810a-464a-9ea3-8b7b87634af0",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "DfeF24PFYQ7hd3n2",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.hasImage }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "d05e7da7-b758-42c8-a882-152b3de495e4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image will be returned"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "15545191-eba8-4f90-bd0e-3ddd09efcc50",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text or audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -80,
        -192
      ],
      "id": "8049995d-2d2e-41ca-afa5-014fe43e4d98",
      "name": "Feedback Rules"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message?.text || $json.body?.text }}",
        "options": {
          "systemMessage": "=# ROL\nEres un asistente especializado en viajes llamado Fenómeno. \nTu única fuente de información son las guías de viaje almacenadas \nen la base de datos vectorial de Pinecone.\n\n# COMPORTAMIENTO\n- Consulta SIEMPRE la base de datos vectorial antes de responder.\n- Responde ÚNICAMENTE con información que hayas recuperado de Pinecone.\n- Si la información no está en la base de datos, responde exactamente: \n  \"No tengo información sobre ese destino o tema en mis guías de viaje.\"\n- NUNCA inventes datos, precios, fechas, horarios ni recomendaciones \n  que no estén en los documentos recuperados.\n- NUNCA uses tu conocimiento general para complementar respuestas.\n\n# FORMATO DE RESPUESTA\n- Sé claro, ordenado y amigable.\n- Si encuentras información relevante, cítala de forma estructurada.\n- Indica siempre de qué guía o fuente proviene la información \n  (si está disponible en los metadatos).\n- Si la consulta es ambigua, pide aclaración antes de buscar.\n\n# IMÁGENES\n# IMÁGENES\nCuando el usuario use palabras como \"muéstrame\", \"foto\", \"imagen\", \"ver\", \"cómo es\" o pida ver un lugar:\n1. DEBES llamar OBLIGATORIAMENTE a la herramienta search_image\n2. Traduce el nombre del lugar al inglés antes de buscar\n3. Si encuentras imagen devuelve exactamente: [IMAGE_URL: https://...]\n4. Si no encuentras imagen, responde solo con texto\n\n# LIMITACIONES\n- Solo respondes preguntas relacionadas con viajes y turismo.\n- Si te preguntan algo fuera de ese ámbito, redirige amablemente \n  al usuario hacia temas de viaje.\n\n# CONTEXTO RECUPERADO\nUsa la herramienta de búsqueda vectorial para obtener contexto \nrelevante de Pinecone antes de responder.\n\n# PREGUNTA DEL USUARIO\n{{ $json.message?.text || $json.body?.text }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -656,
        -192
      ],
      "id": "1880dfd7-9091-4f27-a15f-4bc0d258cc48",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings Ollama  Nomic-embed-text 1.5": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector DB",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic API": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_languageModel": [
        [
          {
            "node": "Answer Module",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector DB": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer Module",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Answer Module": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Input Format": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Audio FileID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio FileID": {
      "main": [
        [
          {
            "node": "Js script -  Rename Audio Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP POST Grok Binary Transcription": {
      "main": [
        [
          {
            "node": "Meets Criteria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatID whiteListed?": {
      "main": [
        [
          {
            "node": "Input Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meets Criteria": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OutPut Type": {
      "main": [
        [
          {
            "node": "Eleven Labels Text 2 Speech API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Set WebHook": {
      "main": [
        [
          {
            "node": "ChatID whiteListed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Js script -  Rename Audio Binary": {
      "main": [
        [
          {
            "node": "HTTP POST Grok Binary Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unplash Images": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "js script - check image url": {
      "main": [
        [
          {
            "node": "Feedback Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eleven Labels Text 2 Speech API": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback Rules": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OutPut Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "js script - check image url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5bea6418-18b0-4c3c-9554-d4876cd3e7c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2bc6d4addc67d0a1ef9fd8c38c7736a8abc39a39447038f494b588f2a44bc1a"
  },
  "id": "DUHyWJybRdIRZS6JFmH3O",
  "tags": []
}