src/TravelAssistant.json
{
  "name": "Asistente De Viajes",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=# ROL\nEres un asistente especializado en viajes llamado Fenómeno. \nTu única fuente de información son las guías de viaje almacenadas \nen la base de datos vectorial de Pinecone.\n\n# COMPORTAMIENTO\n- Consulta SIEMPRE la base de datos vectorial antes de responder.\n- Responde ÚNICAMENTE con información que hayas recuperado de Pinecone.\n- Si la información no está en la base de datos, responde exactamente: \n  \"No tengo información sobre ese destino o tema en mis guías de viaje.\"\n- NUNCA inventes datos, precios, fechas, horarios ni recomendaciones \n  que no estén en los documentos recuperados.\n- NUNCA uses tu conocimiento general para complementar respuestas.\n\n# FORMATO DE RESPUESTA\n- Sé claro, ordenado y amigable.\n- Si encuentras información relevante, cítala de forma estructurada.\n- Indica siempre de qué guía o fuente proviene la información \n  (si está disponible en los metadatos).\n- Si la consulta es ambigua, pide aclaración antes de buscar.\n\n# LIMITACIONES\n- Solo respondes preguntas relacionadas con viajes y turismo.\n- Si te preguntan algo fuera de ese ámbito, redirige amablemente \n  al usuario hacia temas de viaje.\n\n# CONTEXTO RECUPERADO\nUsa el siguiente contexto obtenido de Pinecone para responder:\n{{ $json.message.text }}\n\n# PREGUNTA DEL USUARIO\n{{ $json.message.text }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        0
      ],
      "id": "1880dfd7-9091-4f27-a15f-4bc0d258cc48",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:v1.5"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        96,
        544
      ],
      "id": "c70a3a27-9e87-4234-8d98-8a7fdb6825b1",
      "name": "Embeddings Ollama  Nomic-embed-text 1.5",
      "credentials": {
        "ollamaApi": {
          "id": "y1UFLLpBu1eKfp6F",
          "name": "Ollama account 3"
        }
      },
      "notes": "Nomic"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -80,
        256
      ],
      "id": "498ec248-b487-424c-b424-387f5a7e54e0",
      "name": "Anthropic API",
      "credentials": {
        "anthropicApi": {
          "id": "B7ZeengnBJQteQfU",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        496,
        320
      ],
      "id": "a4007136-7e16-4661-a16c-42f30184bbff",
      "name": "Vector Store Tool",
      "credentials": {
        "anthropicApi": {
          "id": "B7ZeengnBJQteQfU",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "viajes",
          "mode": "list",
          "cachedResultName": "viajes"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        176,
        384
      ],
      "id": "263b4a7f-9822-4dc4-80ce-df3812994377",
      "name": "Pinecone Vector DB",
      "credentials": {
        "pineconeApi": {
          "id": "ITKT56LUrzoCgokz",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "description": "utiliza esta herramienta para obtener información sobre los contratos de arrendamiento que te pregunten"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        224,
        160
      ],
      "id": "9d2f1679-7e9b-4908-a4a5-8e4a78ca9aad",
      "name": "Answer Module"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -784,
        224
      ],
      "id": "3f820c24-d913-4dee-9fa0-065e0096feb6",
      "name": "Telegram Trigger",
      "webhookId": "d8bfb4ac-e790-473a-98e2-6ca810787e0d",
      "credentials": {
        "telegramApi": {
          "id": "lXkA7ZLezD3lsUGa",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "396bdd68-fbcf-4e55-8d34-e012b8823489",
              "leftValue": "={{ $json.message.chat.id.toString() }}",
              "rightValue": "=-5280575085",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "1fd39d5f-014a-486a-a9ad-537894ab21ad",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "#fenomeno",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -448,
        96
      ],
      "id": "dde2217f-7a5c-4855-9e89-4814083ae81e",
      "name": "Message Meets Criteria"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        64,
        240
      ],
      "id": "a2f7ec6a-d0e1-44db-a267-9111a7fa4870",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Message Meets Criteria').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        0
      ],
      "id": "94c7c247-e9cc-4bda-acaf-03f089b88bf5",
      "name": "Respond Back",
      "webhookId": "dfa4ea70-336e-4549-b58d-5743773afaa4",
      "credentials": {
        "telegramApi": {
          "id": "lXkA7ZLezD3lsUGa",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings Ollama  Nomic-embed-text 1.5": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector DB",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic API": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_languageModel": [
        [
          {
            "node": "Answer Module",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector DB": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer Module",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Answer Module": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Message Meets Criteria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Meets Criteria": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9f59ff9a-2e6a-472e-b193-893b255516f6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2bc6d4addc67d0a1ef9fd8c38c7736a8abc39a39447038f494b588f2a44bc1a"
  },
  "id": "DUHyWJybRdIRZS6JFmH3O",
  "tags": []
}
